head{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.cuerpo{
    background: lightblue 
    
}
h1{
    text-align: center;
    background: rgb(207, 209, 230);
}
.perfil{
    max-width: 200px;
    border: 5px  solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(35, 138, 206);
}
h2{
    color: rgb(0, 0, 0);
}
h3{
    color: black;
}
input[type="text"], input[type="email"], input[type="number"] {
    min-width: 100%;
    min-height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px rgb(100, 147, 218) solid
}
input[type="text"]:hover, input[type="email"]:hover, input[type="number"]:hover{
    border: 2px cornflowerblue solid ;
    box-shadow: 5px 5px 10px #555 ;
}
a:hover {
    text-shadow: 5px 5px 10px;
}

.button { background-color: aquamarine; color: azure; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;}
.button:hover{
    border: #15d4ca00 2px solid;
    box-shadow: 5px 5px 5px #149ea8;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
table{
    border-collapse: collapse; width: 100%; }  
    td,th { border: 1px solid black; text-align: left; padding: 8px; } 

    /*estilo principal de css*/
body{
    background-color: rgb(31, 62, 69);
    min-height: 100vh;
}
.encabezado{
    background-color: aquamarine;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    grid-area: encabezado;
    padding: 10px;
}
.menu {
    background-color: chocolate;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    grid-area: menu;
    padding: 10px;
}
.contenido{
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    grid-area: contenido;
    padding: 10px;
}
.submenu{
    background-color: rgb(165, 165, 196);
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    grid-area: submenu;
    padding: 10px;
}
.pie{
    background-color: burlywood;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    grid-area: pie;
    padding: 10px;
}
/*CSS GRIP*/
.page {
    display: grid;
    gap: 2px;
    grid-template-areas:
      "encabezado"
      "menu"
      "contenido"
      "submenu"
      "pie";
    grid-template-rows: 100px 50px auto 100px 50px;
    grid-template-columns: auto;
  }
  
  @media (min-width: 768px) {
    .page {
      grid-template-areas:
        "encabezado encabezado encabezado"
        "menu menu menu"
        "contenido contenido contenido"
        "submenu submenu submenu"
        "pie pie pie";
      grid-template-rows: 100px 50px auto 100px 50px;
      grid-template-columns: auto auto auto;
    }
  }
  
  @media (min-width: 1024px) {
    .page {
      grid-template-areas:
        "encabezado encabezado encabezado encabezado encabezado"
        "menu menu menu menu menu"
        "contenido contenido contenido contenido contenido"
        "pie pie pie pie pie";
      grid-template-rows: 100px auto 50px;
      grid-template-columns: 20% auto auto auto 20%;
    }
  }


